@{
    ViewBag.Title = "Bevestiging van uw paswoord herstel";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        U heeft nu een mail ontvangen om uw paswoord te herstellen.
    </p>
</div>
	
