@{
    ViewBag.Title = "Bevestiging van uw paswoord herstel";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Uw paswoord is hersteld. Gelieve @Html.ActionLink("hier te klikken", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) om in te loggen.
    </p>
</div>
