@using Microsoft.AspNet.Identity
@using System.Threading
@using System.Security.Claims;

@if (Request.IsAuthenticated)
{
    var identity = (ClaimsIdentity)User.Identity;
    var name = identity.FindFirstValue(ClaimTypes.Surname);
    var lastName = identity.FindFirstValue(ClaimTypes.GivenName);

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hallo " + name + " " + lastName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log uit</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registeer", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
