@{
    ViewBag.Title = "Home Page";
}

@section scripts{

    <script>
        $(document).ready(function () {

            var sourceFullView = { url: '/Home/GetDiaryEvents/' };
            var sourceSummaryView = { url: '/Home/GetDiarySummary/' };
            var CalLoading = true;

            $('#calendar').fullCalendar({
                format: 'DD/MM/YYYY HH:mm',
                firstDay: 1,
                hiddenDays: [0, 6],
                minTime: '13:00:00',
                maxTime: '22:00:00',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },
                views: {
                    listDay: { buttonText: 'list day' },
                    listWeek: { buttonText: 'list week' }
                },

                defaultView: 'agendaWeek',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 30,
                events: '/Home/GetDiaryEvents/',
                eventClick: function (calEvent, jsEvent, view) {
                    alert('You clicked on event id: ' + calEvent.id
                        + "\nSpecial ID: " + calEvent.someKey
                        + "\nAnd the title is: " + calEvent.title);

                },

                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                    if (confirm("Confirm move?")) {
                        UpdateEvent(event.id, event.start);
                    }
                    else {
                        revertFunc();
                    }
                },

                eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                    if (confirm("Confirm change appointment length?")) {
                        UpdateEvent(event.id, event.start, event.end);
                    }
                    else {
                        revertFunc();
                    }
                },



                dayClick: function (date, allDay, jsEvent, view) {
                    $('#eventTitle').val("Workshop keramiek");
                    $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                    $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                    $('#eventDuration').val('180');
                    ShowEventPopup(date);
                },

                viewRender: function (view, element) {

                    if (!CalLoading) {

                        if (view.name === 'month') {
                            $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                        }
                        else {
                            $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceFullView);
                        }
                    }
                }

            });

            CalLoading = false;


        });

        //$('#btnInit').click(function () {
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Home/Init",
        //        success: function (response) {
        //            if (response == 'True') {
        //                $('#calendar').fullCalendar('refetchEvents');
        //                alert('Database populated! ');
        //            }
        //            else {
        //                alert('Error, could not populate database!');
        //            }
        //        }
        //    });
        //});
        $('#btnPopupCancel').click(function () {
            ClearPopupFormValues();
            $('#popupEventForm').modal('hide');
        });

        $('#btnPopupSave').click(function () {

            $('#popupEventForm').modal('hide');

            var dataRow = {
                'Title': $('#eventTitle').val(),
                'NewEventDate': $('#eventDate').val(),
                'NewEventTime': $('#eventTime').val(),
                'NewEventDuration': $('#eventDuration').val()
            }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Home/SaveEvent",
                data: dataRow,
                success: function (response) {
                    if (response === 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('Uw workshop is succesvol toegevoegd, goed bezig myriam');
                    }
                    else {
                        alert('Error, could not save event!');
                    }
                }
            });
        });

        function ShowEventPopup(date) {
           // ClearPopupFormValues();
            $('#popupEventForm').modal();
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(EventID, EventStart, EventEnd) {

            var dataRow = {
                'ID': EventID,
                'NewEventStart': EventStart,
                'NewEventEnd': EventEnd
            }

            $.ajax({
                type: 'POST',
                url: "/Home/UpdateEvent",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }

    </script>


}


<div class="container">

    <div>
        <a href="#" id="btnInit" class="btn btn-secondary">Is administrator: @ViewBag.isAdmin</a>
    </div>

    <div id='calendar' style="width:90%"></div>

</div>

<!-- Modal popup to create a new event record -->
<div class="modal" id="popupEventForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Voeg een workshop toe:</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="eventID">
                        <div class="col-md-4">Titel</div>
                        <div class="col-md-8">
                            <input id="eventTitle" type="text" placeholder="Geef een title (optioneel)"/>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Datum</div>
                        <div class="col-md-8"><input id="eventDate" type="text"/>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Tijdstip</div>
                        <div class="col-md-8"><input id="eventTime" type="text"/>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Lengte in minuten</div>
                        <div class="col-md-8"><input id="eventDuration" type="text" value="180"/>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Bewaar workshop</button>
            </div>
        </div>
    </div>
</div>










