@{
    ViewBag.Title = "Calender";
}
<style type="text/css">
    .panel-default {
        width: 415px;
    }

    .box {
        display: inline-block;
        height: 20px;
        width: 35px;
        border: 2px solid;
    }
</style>
@section scripts{

    <script>
        var colorList = {'Beschikbaar - Boek hier je les': 'rgb(1, 223, 58)', 'Les correct geboekt - Klik hier om te annuleren.':'#FF9933','Les volzet - Deze les is momenteel volzet.': 'red', 'Geen les / verleden - Hier kan u niet boeken.': '#fcfc58','Geannuleerd - uitzonderlijk geen les':'#ABABAB'};

        colorize = function(colorList) {
            var container = document.getElementById('container');

            for (var key in colorList) {
                var boxContainer = document.createElement("DIV");
                var box = document.createElement("DIV");
                var label = document.createElement("SPAN");

                label.innerHTML = '  ' + key;
                box.className = "box";
                box.style.backgroundColor = colorList[key];

                boxContainer.appendChild(box);
                boxContainer.appendChild(label);

                container.appendChild(boxContainer);

            }
        }


        function CalculateSubscriptions() {
            $.ajax({
                type: 'GET',
                url: "/Home/CalculateSubscriptionsForCurrentUser",
                success: function(response) {
                    if ($.isNumeric(response)) {
                        $('#amount').val(response);
                        var result = response;
                        if (result === 1) {
                            response += ' beurt over.';
                            $("#topMessage").attr("class","topMessageWarning");
                        } else {
                            if (result <= 0){
                                $("#topMessage").attr("class","topMessageDanger");
                            }else{
                                $("#topMessage").attr("class","topMessageNormal");
                            }
                            response += ' beurten over.';
                        }
                        $('#amountOfSubscriptions').text(response);
                    } else {
                        alert('Er is een fout opgetreden, het totaal aantal resterende beurten kon niet berekend worden!');
                    }
                }
            });
        }

        function GetUsersFromAppointment(id) {
            var dataRow = {
                'id': id
            }
            $.ajax({
                type: 'GET',
                url: "/Home/GetUsersFromAppointment",
                data: dataRow,
                success: function(response) {
                    var cList = $('ul.mylist');
                    cList.empty();
                    if (response.length === 0) {
                        $("#divWithResults").hide();
                        $("#divWithoutResults").show();
                        $("#noResults").text("Momenteel zijn er geen cursisten geboekt");
                    } else {
                        $("#divWithResults").show();
                        $("#divWithoutResults").hide();
                        $.each(response,
                            function(i) {
                                var li = $('<li/>')
                                    //.addClass('ui-menu-item')
                                    .attr('role', 'menuitem')
                                    .appendTo(cList);
                                var aaa = $('<span/>')
                                    //.addClass('ui-all')
                                    .text(response[i])
                                    .appendTo(li);
                            });
                    }
                }
            });
        }

        $(document)
            .ready(function() {

                CalculateSubscriptions();
                var sourceFullView = { url: '/Home/GetDiaryEvents/' };
                var sourceSummaryView = { url: '/Home/GetDiarySummary/' };
                var CalLoading = true;

                $('#calendar')
                    .fullCalendar({
                        format: 'DD/MM/YYYY HH:mm',
                        firstDay: 1,
                        hiddenDays: [0, 6],
                        minTime: '13:00:00',
                        maxTime: '22:00:00',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek'
                        },
                        views: {
                            listDay: { buttonText: 'list day' },
                            listWeek: { buttonText: 'list week' }
                        },

                        defaultView: 'agendaWeek',
                        editable: @ViewBag.isAdmin.ToString().ToLower(),
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 30,
                        events: '/Home/GetDiaryEvents/',
                        eventClick: function(calEvent, jsEvent, view) {
                            $('#bookDateStart').text($.fullCalendar.formatDate(calEvent.start, 'HH:mm'));
                            $('#bookDateEnd').text($.fullCalendar.formatDate(calEvent.end, 'HH:mm'));

                            var weekDay = $.fullCalendar.formatDate(calEvent.start, 'dddd').toLowerCase();
                            weekDay += ' ' + $.fullCalendar.formatDate(calEvent.start, 'dd').toLowerCase();
                            weekDay += ' ' + $.fullCalendar.formatDate(calEvent.start, 'MMMM').toLowerCase();
                            


                            @if (ViewBag.isAdmin)
                            {
                                <text>
                            ShowBookedEvents(calEvent.id, calEvent.someKey);
                            </text>
                            }
                            else
                            {
                                <text>
                            if (calEvent.someKey === 3 || calEvent.someKey === 4) {
                                if (calEvent.someKey === 3) {
                                    ShowInfoModal("Vakantie: Op deze dag kan u geen les boeken.");
                                } else {
                                    if (calEvent.someKey === 2){
                                        ShowInfoModal("Les geannuleerd: Op deze dag kan u geen les boeken.");
                                    }else{
                                        if(calEvent.someKey === 0){
                                            ShowInfoModal("Les boeken niet mogelijk: Lessen in het verleden of tot 24 u voor de les zijn niet boekbaar");
                                        }else{
                                            //4
                                            ShowInfoModal("Les volzet: Op deze dag kan u geen les boeken.");
                                        }
                                       
                                    }
                                    
                                }

                            } else {
                                var items = $("#amount").val();
                                if (items === "0") {
                                    ShowInfoModal("Een les boeken is momenteel niet mogelijk.<br/><br/> Gelieve 250 euro te storten op onze rekening BE 76 3630 8223 2495. <br/><br/>Bij ontvangst van je betaling kan je boeken. <br/>Je word per mail verwittigd wanneer je kan starten met boeken.");
                                } else {
                                    
                                    BookEvent(calEvent.id, calEvent.someKey,weekDay);
                                }
                            }
                            </text>
                            }
                        },
                        eventDrop:
                            function(event, dayDelta, minuteDelta, allDay, revertFunc) {
                                if (confirm("Confirm move?")) {
                                    UpdateEvent(event.id, event.start);
                                } else {
                                    revertFunc();
                                }
                            },

                        eventResize: function(event, dayDelta, minuteDelta, revertFunc) {

                            if (confirm("Confirm change appointment length?")) {
                                UpdateEvent(event.id, event.start, event.end);
                            } else {
                                revertFunc();
                            }
                        },


                        @if (ViewBag.isAdmin)
                        {
                            <text>
                        dayClick: function(date, allDay, jsEvent, view) {
                            $('#eventTitle').val("Boek hier je les");
                            $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                            $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                            var dateEnd = addMinutes(date, 180);
                            $('#eventTimeEnd').val($.fullCalendar.formatDate(dateEnd, 'HH:mm'));
                            ShowEventPopup(date);
                        },
                        </text>
                        }

                        viewRender: function(view, element) {

                            if (!CalLoading) {

                                if (view.name === 'month') {
                                    $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                                } else {
                                    $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceFullView);
                                }
                            }
                        }
                    });

                CalLoading = true;

                colorize(colorList);
            });

        $('#btnPopupCancel')
            .click(function() {
                ClearPopupFormValues();
                $('#popupEventForm').modal('hide');
            });

        $('#btnRemoveCancel')
           .click(function() {
               $('#popupEventFormBookAdmin').modal('hide');
           });

        $('#btnCloseInfo')
           .click(function() {
               $('#infoModal').modal('hide');
           });



        $('#btnPopupSave')
            .click(function() {

                $('#popupEventForm').modal('hide');

                var dataRow = {
                    'Title': $('#eventTitle').val(),
                    'NewEventDate': $('#eventDate').val(),
                    'NewEventTime': $('#eventTime').val(),
                    'NewEventTimeEnd': $('#eventTimeEnd').val()
                }

                ClearPopupFormValues();

                $.ajax({
                    type: 'POST',
                    url: "/Home/SaveEvent",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            alert('Uw les is succesvol toegevoegd, goed bezig myriam');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });

            });

        $('#btnPopupSaveHoliday')
            .click(function() {

                $('#popupEventForm').modal('hide');

                var dataRow = {
                    'NewEventDate': $('#eventDate').val()
                }

                ClearPopupFormValues();

                $.ajax({
                    type: 'POST',
                    url: "/Home/SaveHoliday",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            // $('#calendar').fullCalendar('clearEvents');
                            $('#calendar').fullCalendar('refetchEvents');
                            alert('Uw verlof is succesvol toegevoegd, goed bezig myriam!');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });

            });


        $('#btnPopupSaveBook')
            .click(function() {

                $('#popupEventFormBook').modal('hide');

                var dataRow = {
                    'id': $('#bookEventID').val()
                }

                $.ajax({
                    type: 'POST',
                    url: "/Home/BookWorkshop",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            CalculateSubscriptions();
                            //  alert('Uw workshop is succesvol toegevoegd, goed bezig myriam');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });
            });
        $('#btnPopupCancelBook')
            .click(function() {

                $('#popupEventFormBook').modal('hide');

                var dataRow = {
                    'id': $('#bookEventID').val()
                }

                $.ajax({
                    type: 'POST',
                    url: "/Home/CancelWorkshop",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            CalculateSubscriptions();
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });
            });

        $('#btnRemoveEvent')
            .click(function() {
                if (confirm('Bent u zeker dat u deze les wil annuleren?')) {
                    $('#popupEventFormBookAdmin').modal('hide');

                    var dataRow = {
                        'id': $('#bookEventAdminID').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/Home/RemoveWorkshop",
                        data: dataRow,
                        success: function(response) {
                            if (response === 'True') {
                                $('#calendar').fullCalendar('refetchEvents');
                                // CalculateSubscriptions();
                            } else {
                                alert('Error, could not save event!');
                            }
                        }
                    });
                }

            });

        $('#btnRemoveReplaceEvent')
           .click(function() {
               if (confirm('Bent u zeker dat u deze les wil annuleren?')) {
                   $('#popupEventFormBookAdmin').modal('hide');

                   var dataRow = {
                       'id': $('#bookEventAdminID').val(),
                       'withReplacement': 'True'
                   }

                   $.ajax({
                       type: 'POST',
                       url: "/Home/RemoveWorkshop",
                       data: dataRow,
                       success: function(response) {
                           if (response === 'True') {
                               $('#calendar').fullCalendar('refetchEvents');
                               // CalculateSubscriptions();
                           } else {
                               alert('Error, could not save event!');
                           }
                       }
                   });
               }

           });

        function ShowBookedEvents(Id, SpecialId) {
            $('#popupEventFormBookAdmin').modal();
            $('#bookEventAdminID').val(Id);
            GetUsersFromAppointment(Id);
            //cursist
        }

        function ShowInfoModal(message) {
            $('#infoMsg').html(message);
            $('#infoModal').modal();
        }

        function BookEvent(Id, SpecialId, weekDay) {
            $('#popupEventFormBook').modal();
            $('#bookEventID').val(Id);
            $('#statusCode').val(SpecialId);
            
            if (SpecialId === 667) {
                $('#btnPopupSaveBook').hide();
                $('#btnPopupCancelBook').hide();
                $('#bookTitle').text('Les geboekt op ' + weekDay);
            }else{
                if (SpecialId === 666) {
                    $('#btnPopupSaveBook').hide();
                    $('#btnPopupCancelBook').show();
                    $('#bookTitle').text('Annuleer de les van ' + weekDay);

                } else {
                    $('#btnPopupCancelBook').hide();
                    $('#btnPopupSaveBook').show();
                    $('#bookTitle').text('Boek een les op ' + weekDay);
                }
            }
           
        }

        function ShowEventPopup(date) {
            // ClearPopupFormValues();
            $('#popupEventForm').modal();
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }
        function addMinutes(date, minutes) {
            return new Date(date.getTime() + minutes*60000);
        }

        function UpdateEvent(EventID, EventStart, EventEnd) {

            var dataRow = {
                'ID': EventID,
                'NewEventStart': EventStart,
                'NewEventEnd': EventEnd
            }

            $.ajax({
                type: 'POST',
                url: "/Home/UpdateEvent",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }

    </script>
}

<div class="container">
    <input type="hidden" id="amount" />
    <div>
        @if (ViewBag.isAdmin)
        {
            <text>
                <div class="topMessage">
                    U bent ingelogd als administrator!
                </div>
            </text>
        }
        else
        {
            <text>
                <div id="topMessage" class="topMessage">U hebt momenteel nog <span id="amountOfSubscriptions"></span></div>
            </text>
        }
    </div>



    <div id="calendar" style="width: 100%"></div>
    <br />
    <div class="content">
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Legende</div>
                            <div class="panel-body">
                                <div id="container">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Stappenplan</div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <ul>
                                                <li>
                                                    <b>Stap 1: </b> Kies een juiste dag
                                                </li>
                                                <li>
                                                    <b>Stap 2: </b> Klik op een groen vrij moment
                                                </li>
                                                <li>
                                                    <b>Stap 3: </b> Klik op 'Boek les'
                                                </li>
                                                <li>
                                                    <b>Stap 4: </b> Uw les is geboekt
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
            
         

            <!-- Modal popup to create a new event record -->
            <div class="modal" id="popupEventForm">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Voeg een les toe:</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" id="eventID">
                                    <div class="col-md-4">Titel</div>
                                    <div class="col-md-8">
                                        <input id="eventTitle" type="text" placeholder="Geef een title (optioneel)" />
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;</p>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">Datum</div>
                                    <div class="col-md-8">
                                        <input id="eventDate" type="text" />
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;</p>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">Aanvang les</div>
                                    <div class="col-md-8">
                                        <input id="eventTime" type="text" />
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;</p>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">Einde les</div>
                                    <div class="col-md-8">
                                        <input id="eventTimeEnd" type="text" />
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Bewaar les</button>
                            <button type="button" id="btnPopupSaveHoliday" data-dismiss="modal" class="btn btn-warning">Bewaar als verlof</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="popupEventFormBook">
                <div class="modal-dialog">
                    <input type="hidden" id="bookEventID">
                    <input type="hidden" id="statusCode">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2><span id="bookTitle"></span></h2>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">Les start op:</div>
                                    <div class="col-md-8">
                                        <span id="bookDateStart"></span>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">Les eindigt op:</div>
                                    <div class="col-md-8">
                                        <span id="bookDateEnd"></span>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnPopupCancelBook" data-dismiss="modal" class="btn btn-danger">Annuleer les</button>
                            <button type="button" id="btnPopupSaveBook" data-dismiss="modal" class="btn btn-primary">Boek les</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="popupEventFormBookAdmin">
                <div class="modal-dialog">
                    <input type="hidden" id="bookEventAdminID">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Cursisten die momenteel geboekt hebben:</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12" id="divWithResults">
                                    <div class="col-md-4">Geboekte cursisten:</div>
                                    <div class="col-md-8">
                                        <ul class="mylist" />
                                    </div>
                                </div>
                                <div class="col-md-12" id="divWithoutResults">
                                    <span id="noResults"></span>
                                </div>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnRemoveCancel" data-dismiss="modal" class="btn btn-primary">Cancel</button>
                            <button type="button" id="btnRemoveEvent" data-dismiss="modal" class="btn btn-danger">Annuleer les</button>
                            <button type="button" id="btnRemoveReplaceEvent" data-dismiss="modal" class="btn btn-danger">Annuleer les EN TOON</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="infoModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Een les boeken is momenteel niet mogelijk:</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <span id="infoMsg"></span>
                                </div>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCloseInfo" data-dismiss="modal" class="btn btn-primary">Sluit venster</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
