@{
    ViewBag.Title = "Calender";
}

@section scripts{

    <script>
        function CalculateSubscriptions() {
            $.ajax({
                type: 'GET',
                url: "/Home/CalculateSubscriptionsForCurrentUser",
                success: function(response) {
                    if ($.isNumeric(response)) {
                        var result = response;
                        if (result === 1) {
                            response += ' beurt over.';
                        } else {
                            response += ' beurten over.';
                        }
                        $('#amountOfSubscriptions').text(response);
                    } else {
                        alert('Er is een fout opgetreden, het totaal aantal resterende beurten kon niet berekend worden!');
                    }
                }
            });
        }

        function GetUsersFromAppointment(id) {
            var dataRow = {
                'id': id
            }
            $.ajax({
                type: 'GET',
                url: "/Home/GetUsersFromAppointment",
                data: dataRow,
                success: function(response) {
                    var cList = $('ul.mylist');
                    cList.empty();
                    if (response.length === 0) {
                        var li = $('<li/>')
                                .addClass('ui-menu-item')
                                .attr('role', 'menuitem')
                                .appendTo(cList);
                        var aaa = $('<a/>')
                            .addClass('ui-all')
                            .text('Momenteel zijn er geen cursisten geboekt')
                            .appendTo(li);
                    } else {
                        $.each(response, function(i)
                        {
                            var li = $('<li/>')
                                .addClass('ui-menu-item')
                                .attr('role', 'menuitem')
                                .appendTo(cList);
                            var aaa = $('<a/>')
                                .addClass('ui-all')
                                .text(response[i])
                                .appendTo(li);
                        });
                    }
                   
                   
                }
            });
        }

        $(document)
            .ready(function() {

                CalculateSubscriptions();
                var sourceFullView = { url: '/Home/GetDiaryEvents/' };
                var sourceSummaryView = { url: '/Home/GetDiarySummary/' };
                var CalLoading = true;

                $('#calendar')
                    .fullCalendar({
                        format: 'DD/MM/YYYY HH:mm',
                        firstDay: 1,
                        hiddenDays: [0, 6],
                        minTime: '13:00:00',
                        maxTime: '22:00:00',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek'
                        },
                        views: {
                            listDay: { buttonText: 'list day' },
                            listWeek: { buttonText: 'list week' }
                        },

                        defaultView: 'agendaWeek',
                        editable: @ViewBag.isAdmin.ToString().ToLower(),
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 30,
                        events: '/Home/GetDiaryEvents/',
                        eventClick: function(calEvent, jsEvent, view) {
                            $('#bookDateStart').text($.fullCalendar.formatDate(calEvent.start, 'dd/MM/yyyy HH:mm'));
                            $('#bookDateEnd').text($.fullCalendar.formatDate(calEvent.end, 'dd/MM/yyyy HH:mm'));
                            @if (ViewBag.isAdmin)
                            {
                                <text>
                            ShowBookedEvents(calEvent.id, calEvent.someKey);
                            </text>
                            }
                            else
                            {
                                <text>
                            BookEvent(calEvent.id, calEvent.someKey);
                            </text>
                            }
                            //alert('You clicked on event id: ' + calEvent.id
                            //    + "\nSpecial ID: " + calEvent.someKey
                            //    + "\nAnd the title is: " + calEvent.title);

                        },

                        eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
                            if (confirm("Confirm move?")) {
                                UpdateEvent(event.id, event.start);
                            } else {
                                revertFunc();
                            }
                        },

                        eventResize: function(event, dayDelta, minuteDelta, revertFunc) {

                            if (confirm("Confirm change appointment length?")) {
                                UpdateEvent(event.id, event.start, event.end);
                            } else {
                                revertFunc();
                            }
                        },


                        @if (ViewBag.isAdmin)
                        {
                            <text>
                        dayClick: function(date, allDay, jsEvent, view) {
                            $('#eventTitle').val("Cursus keramiek");
                            $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                            $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                            $('#eventDuration').val('180');
                            ShowEventPopup(date);
                        },
                        </text>
                        }

                        viewRender: function(view, element) {

                            if (!CalLoading) {

                                if (view.name === 'month') {
                                    $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                                } else {
                                    $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceFullView);
                                }
                            }
                        }
                    });

                CalLoading = true;


            });

        $('#btnPopupCancel')
            .click(function() {
                ClearPopupFormValues();
                $('#popupEventForm').modal('hide');
            });

        $('#btnPopupSave')
            .click(function() {

                $('#popupEventForm').modal('hide');

                var dataRow = {
                    'Title': $('#eventTitle').val(),
                    'NewEventDate': $('#eventDate').val(),
                    'NewEventTime': $('#eventTime').val(),
                    'NewEventDuration': $('#eventDuration').val()
                }

                ClearPopupFormValues();

                $.ajax({
                    type: 'POST',
                    url: "/Home/SaveEvent",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            alert('Uw cursus is succesvol toegevoegd, goed bezig myriam');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });

            });

        $('#btnPopupSaveHoliday')
            .click(function() {

                $('#popupEventForm').modal('hide');

                var dataRow = {
                    'NewEventDate': $('#eventDate').val()
                }

                ClearPopupFormValues();

                $.ajax({
                    type: 'POST',
                    url: "/Home/SaveHoliday",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('clearEvents');
                            //<$('#calendar').fullCalendar('refetchEvents');
                            alert('Uw verlof is succesvol toegevoegd, goed bezig myriam!');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });

            });

        $('#btnPopupSaveBook')
            .click(function() {

                $('#popupEventFormBook').modal('hide');

                var dataRow = {
                    'id': $('#bookEventID').val()
                }

                $.ajax({
                    type: 'POST',
                    url: "/Home/BookWorkshop",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            CalculateSubscriptions();
                            //  alert('Uw workshop is succesvol toegevoegd, goed bezig myriam');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });
            });
        $('#btnPopupCancelBook')
            .click(function() {

                $('#popupEventFormBook').modal('hide');

                var dataRow = {
                    'id': $('#bookEventID').val()
                }

                $.ajax({
                    type: 'POST',
                    url: "/Home/CancelWorkshop",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            CalculateSubscriptions();
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });
            });

        function ShowBookedEvents(Id, SpecialId) {
            $('#popupEventFormBookAdmin').modal();
            $('#bookEventAdminID').val(Id);
            GetUsersFromAppointment(Id);
            //cursist
        }

        function BookEvent(Id, SpecialId) {
            $('#popupEventFormBook').modal();
            $('#bookEventID').val(Id);
            $('#statusCode').val(SpecialId);
            if (SpecialId === 666) {
                $('#btnPopupSaveBook').hide();
                $('#btnPopupCancelBook').show();
                $('#bookTitle').text('annuleer een cursus');

            } else {
                $('#bookTitle').text('boek een cursus');
                $('#btnPopupCancelBook').hide();
                $('#btnPopupSaveBook').show();
            }
        }

        function ShowEventPopup(date) {
            // ClearPopupFormValues();
            $('#popupEventForm').modal();
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(EventID, EventStart, EventEnd) {

            var dataRow = {
                'ID': EventID,
                'NewEventStart': EventStart,
                'NewEventEnd': EventEnd
            }

            $.ajax({
                type: 'POST',
                url: "/Home/UpdateEvent",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }

    </script>
}

<div class="container">
    <div>
        @if (ViewBag.isAdmin)
        {
            <text>
                <div class="topMessage">
                    U bent ingelogd als administrator!
                </div>
            </text>
        }
        else
        {
            <text>
                <div class="topMessage">U hebt momenteel nog <span id="amountOfSubscriptions"></span></div>
            </text>
        }
    </div>



    <div id="calendar" style="width:100%"></div>

</div>

<!-- Modal popup to create a new event record -->
<div class="modal" id="popupEventForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Voeg een cursus toe:</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="eventID">
                        <div class="col-md-4">Titel</div>
                        <div class="col-md-8">
                            <input id="eventTitle" type="text" placeholder="Geef een title (optioneel)" />
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Datum</div>
                        <div class="col-md-8">
                            <input id="eventDate" type="text" />
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Tijdstip</div>
                        <div class="col-md-8">
                            <input id="eventTime" type="text" />
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Lengte in minuten</div>
                        <div class="col-md-8">
                            <input id="eventDuration" type="text" value="180" />
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Bewaar cursus</button>
                <button type="button" id="btnPopupSaveHoliday" data-dismiss="modal" class="btn btn-warning">Bewaar als verlof</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal popup to book a new event -->
<div class="modal" id="popupEventFormBook">
    <div class="modal-dialog">
        <input type="hidden" id="bookEventID">
        <input type="hidden" id="statusCode">
        <div class="modal-content">
            <div class="modal-header">
                <h2><span id="bookTitle"></span></h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Cursus start op:</div>
                        <div class="col-md-8">
                            <span id="bookDateStart"></span>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Cursus eindigt op:</div>
                        <div class="col-md-8">
                            <span id="bookDateEnd"></span>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancelBook" data-dismiss="modal" class="btn btn-danger">Annuleer cur</button>
                <button type="button" id="btnPopupSaveBook" data-dismiss="modal" class="btn btn-primary">Boek cursus</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="popupEventFormBookAdmin">
    <div class="modal-dialog">
        <input type="hidden" id="bookEventAdminID">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Cursisten die momenteel geboekt hebben:</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">Naam cursist:</div>
                        <div class="col-md-8">
                            <ul class="mylist"/>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>










